#football-home-ad {
  background: white;
  border-radius: 1em;
  color: black;
}
#football-home-ad .glyphicon {
  padding: 15px 15px 0 0;
  float: right;
  font-size: 26px;
  color: #fff;
}
#football-home-ad .football-home-ad-wrap {
  padding: 2em;
}
#football-home-ad .bp-ad-content-wrap {
  top: -20px;
}
#football-home-ad .bp-ad-content {
  margin-top: 20px;
}
#football-home-ad .btn-bp-ad {
  padding: 10px 40px 10px 40px;
  font-size: 1.2em;
  margin-top: 15px;
  color: #3176c5;
  /* @brand-primary ? */
}
#football-home-ad #bp-img-container {
  display: flex;
  justify-content: flex-end;
}
#football-home-ad #bp-img-container img {
  height: 100%;
  z-index: 1;
  position: relative;
  vertical-align: bottom;
}
.reset-wrap {
  text-align: center;
}
#reset {
  display: block;
  padding: 30px;
}
.p-banner {
  margin-left: 0.75em;
  color: rgb(32, 32, 32);
  cursor: pointer;
}
.bp-ad-title {
  font-size: 2.5rem;
}
